/* Personalized Gradients */
.bg-mygradient-dark {
  background: linear-gradient(75deg, #111111 60%,rgba(60,60,60));
}

.bg-mygradient-grey {
  background: linear-gradient(160deg, lightgrey, white);
}


/* Rules for text personalization */
h1,h2,h3,h4,h5, a {
  font-family: Garamond, serif;
}

a {
  text-decoration: none;
  font-size: 0.7rem;
}

.fc-grey {
  color: #a3a3a3;
}

.fs-7 {
  font-size: 0.7rem;
}

p {
  font-family: Georgia, serif;
  font-size: 0.7rem;
}


/* Navbar toggler */
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
	color: rgba(255,255,255,.55);
	border-color: rgba(255,255,255,.1);
}

/* Social Icons (bootstrap) */
.icons {
  display: flex;
  flex-wrap: wrap;
}

.my-bi {
  color: white;
  background-color: #44474a;
  font-size: 1rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 100%;
  margin: .25rem;
}


/* Articles Separator */
.card:after {
  content: "";
  height: 1px;
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,lightgrey 50%,rgba(0,0,0,0) 100%);
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Miscellaneous */
.btn-search {
  border-radius: 1rem 0rem 0rem 1rem!important;
}

#searchForm {
  border-radius: 0rem 1rem 1rem 0rem!important;
}

.no-border {
  border: none;
}


/*
***********************
**   Media Queries   **
***********************
*/

@media (min-width: 768px) {
  .fc-grey {
    font-size: 1.5rem !important;
  }
  .my-bi{
    font-size: 1.25rem;
  }
  .icons .bi:first-child {
    margin-left: 0;
  }
  .icons .bi:last-child {
    margin-right: 0;
  }
  .input-group {
    width: auto;
  }
  p, a {
    font-size: 0.85rem !important;
  }
  footer p {
    font-size: 0.7rem !important;
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.8rem;
  }
  .fc-grey {
    font-size: 2.5rem !important;
  }
  .my-bi{
    font-size: 2rem;
    padding: 0.1rem 0.7rem 0.3rem 0.7rem;
  }
  #navbarTogglerDemo01 {
    display:block!important;
  }
  p, a {
    font-size: 1rem !important;
  }
  footer p {
    font-size: 0.9rem !important;
  }
}
